$smTxt : 12;
$baseTextSize: 16;
$inputPadding: 8px, 10px;

$colors:('gray': gray,
        'blue': #0078D7,
        'green':green,
        'lightblue':lightblue,
        'orange':orange,
        'red':red
);

$sizes:(xsm, sm, md, lg, xl);